<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.miui.weather2" />
    </queries>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:label="MiWeatherLocation"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Xiaomi Weather 18 legacy bootstrap + embedded native payload" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

        <receiver
            android:name=".HookStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.github.pzhown.miweathlocation.LEGACY_BOOTSTRAP_LOADED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
